@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <title>ColourPicker</title>

    <style>
        #customDiv {
            height: 100px;
            width: 100px;
            margin: 10px;
        }

        #red, #green, #blue {
            margin: 10px;
            width: 300px;
            float: left;
        }

        #red {
            background: #FD3938;
        }

        #green {
            background: #78FE7A;
        }

        #blue {
            background: #6464FE;
        }

        #slidersDiv .btn-group {
            float: left;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div data-bind="dump: $data"></div>
    <div style="width: 60%">
        <div style="float: left; width: 50%" class="well well-large" id="slidersDiv">
            <div>
                <div class="btn-group">
                    <span class="btn btn-small" data-bind="click: upRed"><span class="icon-chevron-up"></span></span>
                    <span class="btn btn-small" data-bind="click: downRed"><span class="icon-chevron-down"></span></span>
                </div>
                <div id="red" data-bind="slider: red"></div>
                <div style="clear: both"></div>

            </div>
            <div>
                <div class="btn-group">
                    <button class="btn btn-small" data-bind="increment: green, step: 10"><span class="icon-chevron-up"></span></button>
                    <button class="btn btn-small" data-bind="increment: green, step: -10"><span class="icon-chevron-down"></span></button>
                </div>
                <div id="green" data-bind="    slider: green"></div>
                <div style="clear: both"></div>
            </div>
            <div>
                <div class="btn-group">
                    <button class="btn btn-small" data-bind="increment: blue, step: 10"><span class="icon-chevron-up"></span></button>
                    <button class="btn btn-small" data-bind="increment: blue, step: -10"><span class="icon-chevron-down"></span></button>
                </div>
                <div id="blue" data-bind="    slider: blue"></div>
                <div style="clear: both"></div>
            </div>

        </div>
        <div class="well well-small" style="float: left" id="customDiv" data-bind="style: { background: hexColor, opacity: opacity }"></div>
        <div style="clear: both"></div>
    </div>

    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="~/Scripts/App/Common/dump.js"></script>
    <script src="~/Scripts/App/Common/ko-delegatedEvents.js"></script>
    <script src="~/Scripts/App/ColourPicker/bh-slider.js"></script>
    <script src="~/Scripts/App/ColourPicker/increment.js"></script>
    <script src="~/Scripts/App/ColourPicker/viewmodel.js"></script>
</body>
</html>
