@{
    ViewBag.Title = "Index";
}

<div class="well well-large">
    <fieldset>
        <legend>Basic Demos</legend>
        <ul>
            <li>@Html.ActionLink("Hello World", "HelloWorld")</li>
            <li>@Html.ActionLink("View Users", "RandomUsers")</li>
        </ul>

    </fieldset>
</div>
