body {
  font-size: .85em;
  font-family: Open Sans, "Segoe UI", Verdana, Helvetica, Sans-Serif;
  /*font-family: Open Sans;*/

  color: #232323;
  background-color: #fff;
}
header,
footer,
nav,
section {
  display: block;
}
/*.userInfo img
{
    height: auto;
    vertical-align: middle;
    border-width: 0px;
    max-width: 100%;
}*/
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.capitalize {
  text-transform: capitalize;
}
.imagetd {
  width: 8%;
}
.userInfo {
  display: inline-block;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
  margin: 5px;
}
.userInfo .imageDiv {
  float: right;
  /*width: 45%;*/

}
/*

/* Styles for basic forms
-----------------------------------------------------------!1!
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------!1!
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
*/
